.HomePage {
    text-align: center;
}

.HomePage-logo {
    height: 20vmin;
    pointer-events: none;
    position: relative;
    width: 150px;
    height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
    .HomePage-logo {
        animation: HomePage-logo-spin infinite 20s linear;
    }
}

.HomePage-header {
    background-image: url("../css/images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.link {
    border-radius: 20px;
    background: #ababab;
}

.link:hover {
    border-radius: 25px;
    background: #bababa;
    box-shadow:  13px 13px 26px #ababab,
    -13px -13px 26px #c9c9c9;
}

.HomePage-Title1 {
    color: #decece;
    font-size: 40px;
}

.HomePage-Title2 {
    color: #decece;
    font-size: 40px;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
    .HomePage-Title1 {
        color: #decece;
        font-size: 30px;
    }

    .HomePage-Title2 {
        color: #decece;
        font-size: 30px;
    }
}

.HomePage-link {
    color: #61dafb;
}

@keyframes HomePage-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
