.submit-btn {
    min-width: 1%;
    /*width: 8%;*/
    border-radius: 25px;
    background: #bbb9b9;
    position: relative;
    /*left: 79%;*/
    /*transform: translate(-50%, -110%);*/
}

.submit-btn:hover {
    border-radius: 25px;
    background: #bababa;
    box-shadow:  13px 13px 26px #ababab,
    -13px -13px 26px #c9c9c9;
}

.QuestionsDiv {
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
    background-color: #bbb9b9;
}

.QuestionsPage-title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.LinkToHome {
    float: left;
    border-radius: 20px;
    background: #ababab;
}

.LinkToHome:hover {
    border-radius: 25px;
    background: #bababa;
    box-shadow:  13px 13px 26px #ababab,
    -13px -13px 26px #c9c9c9;
}

/*寬度為350~900間 (手機)*/
@media screen and (min-width: 350px) and (max-width: 900px) {
    .QuestionsDiv {
        border-radius: 10px;
        margin: 25px;
        padding: 15px;
        background-color: #bbb9b9;
    }
    .submit-btn {
        min-width: 1%;
        border-radius: 25px;
        background: #bbb9b9;
        position: relative;
    }
}

.QuestionsPage-header {
    background-image: url("../css/images/background.jpg");
    background-size: 100% 100%;
}

input[type="radio"] {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Chrome, Safari, Opera */
    transform: scale(1.15);
}